<html>
    <head></head>
    <body>
        <h1>Перечень таблиц - шаблон в файле</h1>
        <table border="1">
        <tr><th>Ключ</th><th>Значение</th></tr>
        [% FOREACH table IN data %]
            <tr>
            <td>[% table.key %]</td>
            <td>[% table.value %]</td>
            </tr>
        [% END %]
        </table>

    </body>
</html>